<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supabase/Tkinter</title>
    <link src="/static/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div id="imageContainer">
        <img
            src="https://qmsfvqfmdqbagewsccmn.supabase.co/storage/v1/object/public/problems/image1.jpg"
            id="dynamicImage"
            alt="Problem Question 1"
        >
    </div>

    <button onclick="showImage('image1')">A</button>
    <button onclick="showImage('image2')">B</button>
    <button onClick="showImage('image3')">C</button>
    <button onClick="showImage('image4')">D</button>
    <!-- Add similar buttons for other images -->


    <script>
        function showImage(imageName) {
            var imageContainer = document.getElementById('dynamicImage');
            var imageUrl = `https://qmsfvqfmdqbagewsccmn.supabase.co/storage/v1/object/public/problems/${imageName}.jpg`;
            
            // Change the source of the dynamic image
            imageContainer.src = imageUrl;
        }
    </script>
</body>
</html>